@import url("https://fonts.googleapis.com/css?family=Comic+Sans");
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Comic Sans';
    background-image: url("https://www.dropbox.com/scl/fi/qclc46qf0nmh7vrei982o/background.png?rlkey=q9pux86u8183vsfu3g6wike3f&dl=1");
}
h1 {
    font-family: 'Comic Sans';
}
footer {
    text-align: center;
}
