@import url("https://fonts.googleapis.com/css?family=Comic+Sans");
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: Comic Sans MS", "Comic Sans", cursive;
}
h1 {
    font-family: Comic Sans MS", "Comic Sans", cursive;
}
header {
    font-family: Comic Sans MS", "Comic Sans", cursive;
}
footer {
    text-align: center;
}
