@import url("https://fonts.googleapis.com/css?family=Comic+Sans");
html {
    width: 100%;
    height: 1005;
}
body {
    font-family: 'Comic Sans';
    background-image: url("https://yt3.googleusercontent.com/CLL1jCk2D7rwscBnZWI6zjdUldmbiJcDiDC0d5qnIzTyxvh91jWdmn3rYGqagWrqF1QoDNKOSQ=s176-c-k-c0x00ffffff-no-rj");
}
